# Entorno Virtual
.venv/
venv/
env/

# Base de datos local (Cada uno tendrá la suya en su PC)
db.sqlite3
db.sqlite3-journal

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos del IDE (PyCharm)
.idea/

# Configuración local
.env
*.local

media/
core/productos/media/
*.jpeg
*.jpg
*.png